body {
	font-family: sans-serif;
}
main {
	padding: 0 5px;
	max-width: 800px;
	margin: 0 auto;
}

.install {
	text-align: center;
	margin: 75px 0;
}
.install p {
	text-align: center;
}
.install-btn {
	display: block;
	text-decoration: none;
	color: white;
	background-color: #0070ff;
	padding: 15px;
	border-radius: 5px;
	border: none;
	margin-inline: auto;
}
