{{ template "head.html" }}

<main>

<h1>hottub</h1>

<p>hottub is a bridge to submit builds.sr.ht jobs from GitHub.</p>

<div class="install">
	<form action="{{ .App.HTMLURL }}/installations/new">
		<button class="install-btn" type="submit">Install</button>
		<p>
			<input id="enable-secrets" type="checkbox" name="state" value="enable_secrets">
			<label for="enable-secrets"><small>Use build secrets</small></label>
		</p>
	</form>
</div>

<p><small>
	<a href="https://git.sr.ht/~emersion/hottub">Source code</a>
</small></p>

</main>

{{ template "foot.html" }}
